html, body {
	margin: 0;
	padding: 0;
}

.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	background: #cce;
	height: 50px;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}

.menu {
	border: solid 1px #eef;
}

@media screen and (min-width: 750px) {
	.menu {
		border: solid 1px #eef;
		width: 100%;
		background: #eeb;
	}
}